.top{
    font-size:30px;
    margin-left:50px;
    margin-top: 30px;
    margin-bottom:30px;
    font-family: 'Be Vietnam Pro', sans-serif;
}
.flex{
    display: flex;
    margin:50px;

}
.zoom {
    padding: 50px;
    transition: transform .2s; 
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.2);
  }
.top-section{
    width: 50%;
}
.top-section img{
    width: 80%;
    margin-left:50px;
}

.top-header{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.button{
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    color:black;
    border:1px solid;
    background-color: rgb(226, 85, 132);
    color: white;
    border-radius:20px;

}
.picture:hover{
    width: 400px;
    height: 200px;
    transform: rotate(180deg);

}
.p-tag{
    margin-bottom: 50px;
}
.middle-part1{
    text-align:center;
    font-family:'Be Vietnam Pro', sans-serif;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}
.course{
    margin:10px;
    box-shadow: 0px 0px 10px;
    border-radius: 5px;
    padding:10px;
}
.filled{
    color: gold;
}
.empty{
color: gray;
}


.see-more{
    color: rgb(226, 85, 132);
    justify-content:flex-start;
    margin-left: 1160px;
}

.middle-part{
    margin-left: 50px;
}
.middle-header{
    font-size: 30px;
    font-family: 'Be Vietnam Pro', sans-serif;
}
footer{
    background-color: rgb(0, 0, 58);
    text-align: center;
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
    padding: 20px 0;
}
.footer-style{
    margin: 0;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    body{
 
     overflow-x: hidden;
     max-width: 100%;
    }
   .courses{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
    .flex{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    
    }
    .flex img{
        width: 100%;
    }
 
}